
.hero-area {
    padding-top: 60px;
    background: rgb(2,0,36);
    background: linear-gradient(357deg, rgba(2,0,36,1) 0%, rgba(18,66,11,0.47102591036414565) 35%, rgba(0,212,255,1) 100%);
    min-height: 200px;


}

footer{
    background-color: #616e5e ;
    color:beige;
}
